body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.app {
  max-width: 550px;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.spacer {
  flex-grow: 1;
}
