body {
  font-family: Georgia, serif;
  background-color: #303030;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.app {
  max-width: 550px;
  margin: 0 auto;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
.spacer {
  flex-grow: 1;
}

#book-image {
  width: 100px;
  margin-right: 10px;
}

.singlebook {
  display: flex;
  flex-direction: row;
  background-color: gray;
}

.title {
  font-size: x-large;
  font-style: italic;
  color: aqua;
}

.author {
  color: white;
}
