.booksContainer {
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin: 1rem;
  border: 1px red;
  padding: 1rem;
}

.book > img {
  width: 250px;
  height: 350px;
}
.singleBook > img {
  width: 250px;
  height: 350px;
}
